#!/usr/bin/perl -w

my $config
    = {
       files => [
		 './Makefile.am',
# 		 './algorithms/configure.in',
# 		 './algorithms/event/configure.in',
# 		 './algorithms/symbol/configure.in',
		 './configure.ac',
# 		 './convertors/configure.in',
		 './get-dist',
		 './glue/swig/perl/Neurospaces.pm',
		 './glue/swig/python/heccer/__cbi__.py',
		 './html/htdocs/index.html',
		 './install/rpm/model-container.spec',
		 './neurospaces.c',
		 './test-dist',
		 './tests.config',
		 './tests/specifications/version.t',
		 './tests/tests.config',
		 './doxygen.cfg',
		],
       labels => {
		  email => 'hugo.cornelis@gmail.com',
		  label => 'alpha',
		  major => '0',
		  micro => '0',
		  minor => '0',
		  monotone_id => `mtn automate get_current_revision_id`,
		  package => 'model-container',
		 },
      };

return $config;

