#!/usr/bin/perl -w

my $config
    = {
       files => [
		 './Makefile.am',
# 		 './algorithms/configure.in',
# 		 './algorithms/event/configure.in',
# 		 './algorithms/symbol/configure.in',
		 './configure.ac',
# 		 './convertors/configure.in',
		 './get-dist',
		 './glue/swig/perl/Neurospaces.pm',
		 './html/htdocs/index.html',
		 './neurospaces.c',
		 './test-dist',
		 './tests.config',
		 './tests/specifications/version.t',
		 './tests/tests.config',
		 './doxygen.cfg',
		],
       labels => {
		  email => '',
		  label => '',
		  major => '',
		  micro => '',
		  minor => '',
		  monotone_id => `mtn automate get_current_revision_id`,
		  package => '',
		 },
      };

return $config;

