#!/usr/bin/perl -w
#!/usr/bin/perl -d:ptkdb
#
#
#

use strict;


# $Format: "my $package_name = \"${package}\";"$
my $package_name = "model-container";

# $Format: "my $package_version = \"${label}\";"$
my $package_version = "network-1";


my $core_directory = defined $ENV{srcdir} ? $ENV{srcdir} . '/' : './';


my $config
    = {
       core_directory => $core_directory,
       description => 'Neurospaces functional tests.',
       environment_settings => {
				# tell the model container where to find the model library

				NEUROSPACES_NMC_MODELS => {
							   description => "Your models will be searched for in the directory %value\n\n",
							   initialization => {
									      shell => [
											# copy the model library

											'rm -fr "%value"',
											'mkdir -p "%value"',

											"cp -R ${core_directory}library/* \"%value\"",

											# automake distcheck makes the model library readonly (as so its copy), make it writable again

											'chmod -R +w "%value"',
										       ],
									     },
							   value => "/tmp/neurospaces/test/models",
							  },
				NEUROSPACES_NMC_PROJECT_MODELS => '',
				NEUROSPACES_NMC_SYSTEM_MODELS => '',
				NEUROSPACES_NMC_USER_MODELS => '',
			       },
       package => {
		   name => $package_name,
		   version => $package_version,
		  }
      };


return $config;


