#!/usr/bin/perl -w
#!/usr/bin/perl -d:ptkdb
#
#
#

use strict;


# $Format: "my $package_name = \"$Project$\";"$
my $package_name = "neurospaces";

# $Format: "my $package_version = \"$ProjectVersion$\";"$
my $package_version = "0.1675";


my $config
    = {
       core_directory => './',
       description => 'Neurospaces functional tests.',
       package => {
		   name => $package_name,
		   version => $package_version,
		  }
      };


return $config;


